body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0.15;
    background-image: url("https://www.devsisters.com/static/cookierun-7361a127dadbc467835863e1274f6af2.jpg");
    /* background-position-y: center; */
    background-size: 50%;
    z-index: -1;
}

header {
    margin: 1rem;
    padding-bottom: 0.5rem;

    font-family: "Noto Sans KR", serif;
    font-size: 1rem;

    border-bottom: 0.2rem dashed lightblue;
}

main {
    display: flex;
    /* justify-content: center; */
}

fieldset {
    border: 0.4rem double lightblue;
    padding-block: 0;
    padding-top: 0.5rem;
    max-height: 15.5rem;
    
}
fieldset label {
    display: inline-block;
    margin-right: 0.3rem;
    min-width: 4rem;
    
    font-family: "Noto Sans KR", serif;
    line-height: 0.3rem;
}
fieldset label:before {
    content: "";
    display: inline-block;
    width: 100%;
}
fieldset label:after {
    content: "";
    display: inline-block;
    width: 100%;
    border-top: 0.15rem solid lightcoral;
}

legend {
    font: 1.3rem "Noto Sans KR", serif;
}

button {
    border: solid 0 darkblue;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem grey;

    background-color: rgba(240, 128, 128, 0.6);
    font-weight: bolder;

    padding: 0.4rem;
    cursor: pointer;
}
button:active {
    background-color: rgba(240, 128, 128, 0.9);
    box-shadow: 0.01rem 0.01rem 0.3rem 0.05rem white inset;
}

hr {
    margin-top: 1rem;
    border-style: none;
    border-top: 0.2rem dashed lightblue;
}

#selectFileLabel {
    /* border: 0.2rem dotted darkblue; */
    box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem grey;
    background-color: lightblue;

    padding: 0.4rem;
    cursor: pointer;
}
#selectFileLabel::after {
    border: none;
}
#selectFileLabel:active {
    background-color: rgb(61, 61, 208, 0.5);
    box-shadow: 0.01rem 0.01rem 0.3rem 0.05rem white inset;
}
#selectFile {
    display: none;
}

#textOutput {
    min-width: 795px;
    min-height: 841px;

    margin-left: 1rem;
    padding-top: 1.5rem;

    color: black;
    /* border: 1px solid black; */
    background-color: lightgoldenrodyellow;
}

.innerText, .innerText-edited {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.3rem;

    border-bottom: 1.5px solid grey;
    /* font-weight: bolder; */
    font-size: 1rem;
}

#selectBox {
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.selectProperty {
    display: flex;
    padding-bottom: 1rem;
}
#selectFontSize {
    min-width: 4rem;
}

#textBox {
    /* display: flex; */
    margin-left: 1rem;
}
#textBox button {
    margin-right: 0.5rem;
}
.selectButton {
    margin-bottom: 1rem;
}

#selectTextArea {
    min-width: 490px;
    min-height: 500px;
}

.textEditBox {
    min-width: 750px;
    height: 50px;
    margin-left: 1.5rem;
}


/* 특정영역만 프린트하기 */
@page {
    size: A4 portrait;
    margin: 0;
}
@media print {
    header, #selectBox {
        display: none;
    }
    #textOutput {
        margin: 0;
        padding: 0;
    }
    body {
        margin: 0;
    }
    * {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
    }
}
